([[1 metric-kickerpoints] #function[clojure.core/+] -9.473333333333333] 
 [[1 metric-kickerpoints median] -9.473333333333333] 
 [[1 metric-distance] #function[clojure.core/+] -9.3] 
 [[1 metric-distance median] -9.3] 
 [[2 metric-kickerpoints] #function[clojure.core/+] -9.856666666666667] 
 [[2 metric-kickerpoints median] -9.856666666666667] 
 [[2 metric-distance] #function[clojure.core/+] -9.813333333333333] 
 [[2 metric-distance median] -9.813333333333333] 
 [[3 metric-kickerpoints] #function[clojure.core/+] -9.666666666666668] 
 [[3 metric-kickerpoints median] -9.446666666666667] 
 [[3 metric-distance] #function[clojure.core/+] -9.733333333333333] 
 [[3 metric-distance median] -9.856666666666667] 
 [[4 metric-kickerpoints] #function[clojure.core/+] -9.493333333333332] 
 [[4 metric-kickerpoints median] -9.61] 
 [[4 metric-distance] #function[clojure.core/+] -9.503333333333334] 
 [[4 metric-distance median] -9.59] 
 [[5 metric-kickerpoints] #function[clojure.core/+] -9.493333333333332] 
 [[5 metric-kickerpoints median] -9.72] 
 [[5 metric-distance] #function[clojure.core/+] -9.476666666666667] 
 [[5 metric-distance median] -9.45] 
 [[6 metric-kickerpoints] #function[clojure.core/+] -9.373333333333333] 
 [[6 metric-kickerpoints median] -9.54] 
 [[6 metric-distance] #function[clojure.core/+] -9.586666666666668] 
 [[6 metric-distance median] -9.62] 
 [[7 metric-kickerpoints] #function[clojure.core/+] -9.653333333333332] 
 [[7 metric-kickerpoints median] -9.493333333333332] 
 [[7 metric-distance] #function[clojure.core/+] -9.68] 
 [[7 metric-distance median] -9.57] 
 [[8 metric-kickerpoints] #function[clojure.core/+] -9.57] 
 [[8 metric-kickerpoints median] -9.573333333333332] 
 [[8 metric-distance] #function[clojure.core/+] -9.543333333333333] 
 [[8 metric-distance median] -9.55] 
 [[9 metric-kickerpoints] #function[clojure.core/+] -9.536666666666667] 
 [[9 metric-kickerpoints median] -9.59] 
 [[9 metric-distance] #function[clojure.core/+] -9.59] 
 [[9 metric-distance median] -9.57])